################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/gameframe/v16
/world/obj/x86/Debug
/shynet/obj/x86/Debug/shynet.tlog
/world/obj/x64/Debug
/frmpub/obj/x64/Debug
*.tlog
*.log
*.lastbuildstate
*.out
*.json
